* {
  box-sizing: border-box;
}

body,
html {
  /* height: 100%; */
  margin: 0;
  padding: 10px;
}
body {
  background: #14181c 0 -1px repeat-x;
  min-height: 100%;
  color: #789;
  overflow: auto;
  font-family: monospace;
}

h1 {
  /* text-align: center; */
  color: whitesmoke;
  border-bottom: 1px solid #77889926;
  padding: 5px;
}

.book {
  border-right: 1px solid #789;
  line-height: 30px;
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
  background-color: #14181c4f 0 -1px repeat-x;
  font-size: 17px;
  /* margin: 20px; */
}

.shelf {
  margin: 0 -5px;
}
.shelf:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-weight: bold;
  font-size: 1.2em; /* or whatever size you want */
}

.content {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-popup {
  padding: 7px;
  width: 370px;
}
#bookDialog {
  background: #14181c 0 -1px repeat-x;
  color: white;
  border: 1px solid white;
}
.form-popup input[type="text"],
.form-popup input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

.form-popup input[type="text"]:focus,
.form-popup input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /*! padding: 0px 0px; */
  border-bottom: 1px solid white;
}

.logandsub {
  background: #00ac1c;
  color: #fff;
  border: none;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 14px;
}

.toggle-read,
.remove {
  border: 1px solid#77889926;
  font-size: 14px;
  color: white;
  background: #14181c;
  padding: 0.4em;
  cursor: pointer;
}

.close {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: bolder;
  padding-right: 25px;
}
.close:hover {
  background: none;
  cursor: pointer;
  color: #00ac1c;
}
.close:focus {
  background: none;
}

#log {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button:hover,
button:focus {
  background: #00ac1d9f;
}

/* Remove Arrows/Spinners  */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1310px) {
  .book {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 15px;
    border-right: none;
    border-bottom: 1px solid #789;
  }
  .title {
    font-weight: bold;
    font-size: 1em;
  }
  .form-popup {
    width: 253px;
    height: 370px;
  }
}
